*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Space Grotesk', sans-serif;
  background:#faf7ff;
  color:#2e2341;
  overflow-x:hidden;
}

/* BLUR EFFECT */

.blur{
  position:absolute;
  width:350px;
  height:350px;
  background:rgba(212,185,255,0.35);
  border-radius:50%;
  filter:blur(100px);
  z-index:-1;
}

.blur1{
  top:30px;
  left:-100px;
}

/* NAVBAR */

.navbar{
  width:100%;
  padding:30px 8%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:sticky;
  top:0;
  background:rgba(250,247,255,0.75);
  backdrop-filter:blur(10px);
  z-index:999;
}

.logo{
  font-size:1.5rem;
  font-weight:700;
  letter-spacing:2px;
}

.nav-links{
  display:flex;
  gap:35px;
  list-style:none;
  align-items:center;
}

.nav-links a{
  text-decoration:none;
  color:#6f6485;
  transition:0.35s ease;
  position:relative;
}

/* Hover Effect */
.nav-links a::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-6px;
  width:0%;
  height:2px;
  background:#b88cff;
  border-radius:10px;
  transition:0.35s ease;
}

.nav-links a:hover{
  color:#9c6eff;
}

.nav-links a:hover::after{
  width:100%;
}

.active{
  color:#9a6dff !important;
  font-weight:600;
}

.contact-btn{
  border:1px solid #c8a2ff;
  padding:11px 22px;
  border-radius:30px;
}

/* HERO */

.hero{
  padding:120px 8% 80px;
  position:relative;
}

.hero-content h1{
  font-size:5rem;
  margin-bottom:15px;
}

.hero-content p{
  color:#7b7090;
  font-size:1rem;
}

.line{
  width:84%;
  height:1px;
  background:#ddd1f2;
  margin:0 auto 60px;
}

/* PROJECTS */

.projects{
  padding-bottom:120px;
}

.project-grid{
  width:84%;
  margin:auto;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:35px;
}

.project-card{
  text-align:center;
}

.project-card img{
  width:100%;
  height:320px;
  object-fit:cover;
  border-radius:24px;
  transition:0.4s ease;
  box-shadow:0 10px 30px rgba(188,160,255,0.12);
}

.project-card img:hover{
  transform:translateY(-10px);
}

.project-card span{
  display:block;
  margin-top:22px;
  font-size:0.75rem;
  letter-spacing:2px;
  color:#9a8ab6;
  font-weight:600;
}

.project-card h3{
  margin-top:10px;
  font-size:1.7rem;
}

.wide-card{
  grid-column:span 1;
}

.wide-card img{
  height:318px;
}

.button-center{
  text-align:center;
  margin-top:70px;
}

.outline-btn{
  text-decoration:none;
  border:1px solid #c8a2ff;
  padding:16px 34px;
  border-radius:50px;
  color:#7f52cc;
  font-weight:600;
  transition:0.3s ease;
}

.outline-btn:hover{
  background:#c8a2ff;
  color:white;
}

/* FOOTER */

.footer{
  background:#f2ebff;
  padding:100px 8% 40px;
  border-top-left-radius:60px;
  border-top-right-radius:60px;
}

.footer-top{
  text-align:center;
  margin-bottom:90px;
}

.footer-top p{
  color:#9a6dff;
  font-weight:600;
  margin-bottom:18px;
}

.footer-top h2{
  font-size:2.5rem;
}

.footer-content{
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  gap:40px;
  margin-bottom:50px;
}

.footer-content h3{
  font-size:2rem;
}

.footer-content p{
  color:#6f6485;
  margin-bottom:12px;
  transition:0.3s ease;
  cursor:pointer;
}

.footer-content p:hover{
  color:#9c6eff;
  transform:translateX(4px);
}

.footer-bottom{
  border-top:1px solid #d9c8f6;
  padding-top:25px;
  text-align:center;
  color:#7d6f95;
}

/* RESPONSIVE */

@media(max-width:1100px){

  .project-grid{
    grid-template-columns:repeat(2,1fr);
  }

  .hero-content h1{
    font-size:4rem;
  }

  .footer-top h2{
    font-size:3rem;
  }
}

@media(max-width:768px){

  .navbar{
    flex-direction:column;
    gap:20px;
  }

  .nav-links{
    flex-wrap:wrap;
    justify-content:center;
    gap:18px;
  }

  .project-grid{
    grid-template-columns:1fr;
  }

  .hero-content h1{
    font-size:3rem;
  }

  .footer-top h2{
    font-size:2.2rem;
  }

  .footer-content{
    flex-direction:column;
  }
}